.container{
    .posts{
        display: grid;
        grid-template-columns: repeat(3, 0.3fr);
        grid-template-rows: repeat(2, 1fr);
        justify-content: center;
        margin: 32px;

        @media screen and (max-width: 1068px) {
            grid-template-columns: repeat(2, 0.3fr);
            margin: auto;
            justify-content: center;
            margin-left: 48px
        }
        
        @media screen and (max-width: 768px) {
            grid-template-columns: repeat(1, 0.3fr);
            margin: auto;
            justify-content: center;
        }
    }

    .button {
        margin-top: 24px;
        text-align: center;
    }
    
}
