.content{
    display: flex;
    flex-direction: column;
    gap: 3.5rem;
    align-items: center;
    justify-content: center;
    margin-top: 4rem;
}

.userPhoto{
    width: 180px;
}

.userPhoto img{
    width: 100%;
}

.infos{
    display: grid;
    grid-template-columns: repeat(2, 1.5fr);
    grid-template-rows: repeat(4, 1fr);
    gap: 3rem;
    text-align: center;
}

.infos span{
    padding: 2px 4px;
}

@media screen and (max-width: 768px) {
    .content{
        gap: 2rem;
    }
}

@media screen and (max-width: 596px) {
    .infos{
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .userPhoto{
        width: 120px;
    }
}