.cardUsers{
    display: grid;
    grid-template-columns: repeat(3, 0.3fr);
    grid-template-rows: repeat(2, 1fr);
    justify-content: center;
    margin: 16px; 
}

.link{
    text-decoration: none;
    color: black;
}

.button{
    text-align: center;
    margin: 16px 0;
}

@media screen and (max-width: 842px) {
    .cardUsers{
        grid-template-columns: repeat(2, 0.3fr);
    }
}

@media screen and (max-width: 520px) {
    .cardUsers{
        grid-template-columns: repeat(1, 0.3fr);
    }
}